@import '../../../../../variables.scss';

.cc {
  width: $cc-width !important;
  height: $cc-height !important;
//  overflow-y: scroll;
//  overflow-x: hidden;
}
.search-bar {
  .icon {
    left: $cc-width - 35px;
  }
}
.input-check {
  display: inline;
}
.goods-check {
  font-weight:  $fw-100;
  font-style: italic;
  font-size: smaller;
  padding: 10px;
  background-color: #01a3e0;
  span {
    padding-left: 5px;
    color: white;
  }
}
