$shc-width: 400px;
$shc-height: 200px;

.shc {
  width: $shc-width !important;
  height: $shc-height !important;
//   overflow-y: scroll;
//  overflow-x: hidden;
}
.search-bar {
  .icon {
   
    left: $shc-width - 35px;
   
  }
}