$info-width: 1000px;
$info-height: 250px;

$shc-width: 400px;
$shc-height: 200px;

$cc-width: 400px;
$cc-height: 250px;

$font-color: #737f8b;
$font-size: 14px;
$table-border-color: #f0f0f0;
$table-hover-color: #f8f8f8;

$fw-600: 600;
$fw-100: 100;

$accleya-deep-blue: #0d2478;
$accleya-light-blue: #01a3e0;
$accleya-grey: #667380;

$header-bg-color: #bdc3c9;
$footer-bg-color: #ebedef;
