@import '../../../../../variables.scss';

.info {
  width: $info-width;
  height: $info-height;

  overflow-y: scroll;
  table {
    width: 100%;

    border-spacing: 0;
  }
  th {
    text-align: left;
    font-weight:  $fw-600;
    color: $accleya-deep-blue;
  }

  th,
  td {
    border: 1px solid;
    border-left: 0px;
    border-right: 0px;
    border-collapse: collapse;
    border-color: $table-border-color;
    padding: 10px;
  }
  tr:hover {
    td {
      background-color: $table-hover-color;
      font-weight:  $fw-600;
      color: black !important;
    }
  }
}
.sort-icon
{
    cursor: pointer;
}