<!-- The Modal -->
<div id="myModal" class="modal" *ngIf="modal">
  <div class="modal-header">
    {{ title }}
    <span class="close" (click)="close()">
      <i class="fa fa-times"></i>
    </span>
  </div>
  <!-- Modal content -->
  <div class="modal-content">
    <app-info-table *ngIf="type === 'table'"></app-info-table>
    <app-commodity-code-search
      [showInput]="true"
      (dismiss)="close()"
      *ngIf="type === 'com'"
    ></app-commodity-code-search>

    <app-shc-search
      [showInput]="true"
      (dismiss)="close()"
      *ngIf="type === 'shc'"
    ></app-shc-search>
  </div>
</div>
