@import "../../../../../variables.scss";
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  height: inherit;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px -9px 0px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  font-size: $font-size + 4;

  color: $accleya-deep-blue;
  background-color: $header-bg-color;
  padding: 10px;
  font-weight: $fw-600;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0px auto;
}

/* The Close Button */
.close {
  i {
    color: white;
  }
}

.close > i:hover,
.close > i:focus {
  color: $accleya-deep-blue;
  text-decoration: none;
  cursor: pointer;
}
